$main-color: #FFE5A5; // 主色
$white: #FFFFFF; // 白
$black: #000000; // 黑
$gray: #999999; // 灰白
$grey: #8D9094; // 灰
$green: #22EAF6; // 绿
$red: #FF3C3E; // 红
$blue: #1385FF; // 蓝
$yellow: #F5C245; // 黄

$card: #101010; // 卡片
$box: #171717; // 盒子